.color-000 { color: #000000; }
.color-001 { color: #800000; }
.color-002 { color: #008000; }
.color-003 { color: #808000; }
.color-004 { color: #000080; }
.color-005 { color: #800080; }
.color-006 { color: #008080; }
.color-007 { color: #c0c0c0; }
.color-008 { color: #808080; }
.color-009 { color: #ff0000; }
.color-010 { color: #00ff00; }
.color-011 { color: #ffff00; }
.color-012 { color: #0000ff; }
.color-013 { color: #ff00ff; }
.color-014 { color: #00ffff; }
.color-015 { color: #ffffff; }
.color-016 { color: #000000; }
.color-017 { color: #00005f; }
.color-018 { color: #000087; }
.color-019 { color: #0000af; }
.color-020 { color: #0000d7; }
.color-021 { color: #0000ff; }
.color-022 { color: #005f00; }
.color-023 { color: #005f5f; }
.color-024 { color: #005f87; }
.color-025 { color: #005faf; }
.color-026 { color: #005fd7; }
.color-027 { color: #005fff; }
.color-028 { color: #008700; }
.color-029 { color: #00875f; }
.color-030 { color: #008787; }
.color-031 { color: #0087af; }
.color-032 { color: #0087d7; }
.color-033 { color: #0087ff; }
.color-034 { color: #00af00; }
.color-035 { color: #00af5f; }
.color-036 { color: #00af87; }
.color-037 { color: #00afaf; }
.color-038 { color: #00afd7; }
.color-039 { color: #00afff; }
.color-040 { color: #00d700; }
.color-041 { color: #00d75f; }
.color-042 { color: #00d787; }
.color-043 { color: #00d7af; }
.color-044 { color: #00d7d7; }
.color-045 { color: #00d7ff; }
.color-046 { color: #00ff00; }
.color-047 { color: #00ff5f; }
.color-048 { color: #00ff87; }
.color-049 { color: #00ffaf; }
.color-050 { color: #00ffd7; }
.color-051 { color: #00ffff; }
.color-052 { color: #5f0000; }
.color-053 { color: #5f005f; }
.color-054 { color: #5f0087; }
.color-055 { color: #5f00af; }
.color-056 { color: #5f00d7; }
.color-057 { color: #5f00ff; }
.color-058 { color: #5f5f00; }
.color-059 { color: #5f5f5f; }
.color-060 { color: #5f5f87; }
.color-061 { color: #5f5faf; }
.color-062 { color: #5f5fd7; }
.color-063 { color: #5f5fff; }
.color-064 { color: #5f8700; }
.color-065 { color: #5f875f; }
.color-066 { color: #5f8787; }
.color-067 { color: #5f87af; }
.color-068 { color: #5f87d7; }
.color-069 { color: #5f87ff; }
.color-070 { color: #5faf00; }
.color-071 { color: #5faf5f; }
.color-072 { color: #5faf87; }
.color-073 { color: #5fafaf; }
.color-074 { color: #5fafd7; }
.color-075 { color: #5fafff; }
.color-076 { color: #5fd700; }
.color-077 { color: #5fd75f; }
.color-078 { color: #5fd787; }
.color-079 { color: #5fd7af; }
.color-080 { color: #5fd7d7; }
.color-081 { color: #5fd7ff; }
.color-082 { color: #5fff00; }
.color-083 { color: #5fff5f; }
.color-084 { color: #5fff87; }
.color-085 { color: #5fffaf; }
.color-086 { color: #5fffd7; }
.color-087 { color: #5fffff; }
.color-088 { color: #870000; }
.color-089 { color: #87005f; }
.color-090 { color: #870087; }
.color-091 { color: #8700af; }
.color-092 { color: #8700d7; }
.color-093 { color: #8700ff; }
.color-094 { color: #875f00; }
.color-095 { color: #875f5f; }
.color-096 { color: #875f87; }
.color-097 { color: #875faf; }
.color-098 { color: #875fd7; }
.color-099 { color: #875fff; }
.color-100 { color: #878700; }
.color-101 { color: #87875f; }
.color-102 { color: #878787; }
.color-103 { color: #8787af; }
.color-104 { color: #8787d7; }
.color-105 { color: #8787ff; }
.color-106 { color: #87af00; }
.color-107 { color: #87af5f; }
.color-108 { color: #87af87; }
.color-109 { color: #87afaf; }
.color-110 { color: #87afd7; }
.color-111 { color: #87afff; }
.color-112 { color: #87d700; }
.color-113 { color: #87d75f; }
.color-114 { color: #87d787; }
.color-115 { color: #87d7af; }
.color-116 { color: #87d7d7; }
.color-117 { color: #87d7ff; }
.color-118 { color: #87ff00; }
.color-119 { color: #87ff5f; }
.color-120 { color: #87ff87; }
.color-121 { color: #87ffaf; }
.color-122 { color: #87ffd7; }
.color-123 { color: #87ffff; }
.color-124 { color: #af0000; }
.color-125 { color: #af005f; }
.color-126 { color: #af0087; }
.color-127 { color: #af00af; }
.color-128 { color: #af00d7; }
.color-129 { color: #af00ff; }
.color-130 { color: #af5f00; }
.color-131 { color: #af5f5f; }
.color-132 { color: #af5f87; }
.color-133 { color: #af5faf; }
.color-134 { color: #af5fd7; }
.color-135 { color: #af5fff; }
.color-136 { color: #af8700; }
.color-137 { color: #af875f; }
.color-138 { color: #af8787; }
.color-139 { color: #af87af; }
.color-140 { color: #af87d7; }
.color-141 { color: #af87ff; }
.color-142 { color: #afaf00; }
.color-143 { color: #afaf5f; }
.color-144 { color: #afaf87; }
.color-145 { color: #afafaf; }
.color-146 { color: #afafd7; }
.color-147 { color: #afafff; }
.color-148 { color: #afd700; }
.color-149 { color: #afd75f; }
.color-150 { color: #afd787; }
.color-151 { color: #afd7af; }
.color-152 { color: #afd7d7; }
.color-153 { color: #afd7ff; }
.color-154 { color: #afff00; }
.color-155 { color: #afff5f; }
.color-156 { color: #afff87; }
.color-157 { color: #afffaf; }
.color-158 { color: #afffd7; }
.color-159 { color: #afffff; }
.color-160 { color: #d70000; }
.color-161 { color: #d7005f; }
.color-162 { color: #d70087; }
.color-163 { color: #d700af; }
.color-164 { color: #d700d7; }
.color-165 { color: #d700ff; }
.color-166 { color: #d75f00; }
.color-167 { color: #d75f5f; }
.color-168 { color: #d75f87; }
.color-169 { color: #d75faf; }
.color-170 { color: #d75fd7; }
.color-171 { color: #d75fff; }
.color-172 { color: #d78700; }
.color-173 { color: #d7875f; }
.color-174 { color: #d78787; }
.color-175 { color: #d787af; }
.color-176 { color: #d787d7; }
.color-177 { color: #d787ff; }
.color-178 { color: #dfaf00; }
.color-179 { color: #dfaf5f; }
.color-180 { color: #dfaf87; }
.color-181 { color: #dfafaf; }
.color-182 { color: #dfafdf; }
.color-183 { color: #dfafff; }
.color-184 { color: #dfdf00; }
.color-185 { color: #dfdf5f; }
.color-186 { color: #dfdf87; }
.color-187 { color: #dfdfaf; }
.color-188 { color: #dfdfdf; }
.color-189 { color: #dfdfff; }
.color-190 { color: #dfff00; }
.color-191 { color: #dfff5f; }
.color-192 { color: #dfff87; }
.color-193 { color: #dfffaf; }
.color-194 { color: #dfffdf; }
.color-195 { color: #dfffff; }
.color-196 { color: #ff0000; }
.color-197 { color: #ff005f; }
.color-198 { color: #ff0087; }
.color-199 { color: #ff00af; }
.color-200 { color: #ff00df; }
.color-201 { color: #ff00ff; }
.color-202 { color: #ff5f00; }
.color-203 { color: #ff5f5f; }
.color-204 { color: #ff5f87; }
.color-205 { color: #ff5faf; }
.color-206 { color: #ff5fdf; }
.color-207 { color: #ff5fff; }
.color-208 { color: #ff8700; }
.color-209 { color: #ff875f; }
.color-210 { color: #ff8787; }
.color-211 { color: #ff87af; }
.color-212 { color: #ff87df; }
.color-213 { color: #ff87ff; }
.color-214 { color: #ffaf00; }
.color-215 { color: #ffaf5f; }
.color-216 { color: #ffaf87; }
.color-217 { color: #ffafaf; }
.color-218 { color: #ffafdf; }
.color-219 { color: #ffafff; }
.color-220 { color: #ffdf00; }
.color-221 { color: #ffdf5f; }
.color-222 { color: #ffdf87; }
.color-223 { color: #ffdfaf; }
.color-224 { color: #ffdfdf; }
.color-225 { color: #ffdfff; }
.color-226 { color: #ffff00; }
.color-227 { color: #ffff5f; }
.color-228 { color: #ffff87; }
.color-229 { color: #ffffaf; }
.color-230 { color: #ffffdf; }
.color-231 { color: #ffffff; }
.color-232 { color: #080808; }
.color-233 { color: #121212; }
.color-234 { color: #1c1c1c; }
.color-235 { color: #262626; }
.color-236 { color: #303030; }
.color-237 { color: #3a3a3a; }
.color-238 { color: #444444; }
.color-239 { color: #4e4e4e; }
.color-240 { color: #585858; }
.color-241 { color: #626262; }
.color-242 { color: #6c6c6c; }
.color-243 { color: #767676; }
.color-244 { color: #808080; }
.color-245 { color: #8a8a8a; }
.color-246 { color: #949494; }
.color-247 { color: #9e9e9e; }
.color-248 { color: #a8a8a8; }
.color-249 { color: #b2b2b2; }
.color-250 { color: #bcbcbc; }
.color-251 { color: #c6c6c6; }
.color-252 { color: #d0d0d0; }
.color-253 { color: #dadada; }
.color-254 { color: #e4e4e4; }
.color-255 { color: #eeeeee; }
.color-bold { font-weight: bold; }

.background-000 { background: #000000; }
.background-001 { background: #800000; }
.background-002 { background: #008000; }
.background-003 { background: #808000; }
.background-004 { background: #000080; }
.background-005 { background: #800080; }
.background-006 { background: #008080; }
.background-007 { background: #c0c0c0; }
.background-008 { background: #808080; }
.background-009 { background: #ff0000; }
.background-010 { background: #00ff00; }
.background-011 { background: #ffff00; }
.background-012 { background: #0000ff; }
.background-013 { background: #ff00ff; }
.background-014 { background: #00ffff; }
.background-015 { background: #ffffff; }
.background-016 { background: #000000; }
.background-017 { background: #00005f; }
.background-018 { background: #000087; }
.background-019 { background: #0000af; }
.background-020 { background: #0000d7; }
.background-021 { background: #0000ff; }
.background-022 { background: #005f00; }
.background-023 { background: #005f5f; }
.background-024 { background: #005f87; }
.background-025 { background: #005faf; }
.background-026 { background: #005fd7; }
.background-027 { background: #005fff; }
.background-028 { background: #008700; }
.background-029 { background: #00875f; }
.background-030 { background: #008787; }
.background-031 { background: #0087af; }
.background-032 { background: #0087d7; }
.background-033 { background: #0087ff; }
.background-034 { background: #00af00; }
.background-035 { background: #00af5f; }
.background-036 { background: #00af87; }
.background-037 { background: #00afaf; }
.background-038 { background: #00afd7; }
.background-039 { background: #00afff; }
.background-040 { background: #00d700; }
.background-041 { background: #00d75f; }
.background-042 { background: #00d787; }
.background-043 { background: #00d7af; }
.background-044 { background: #00d7d7; }
.background-045 { background: #00d7ff; }
.background-046 { background: #00ff00; }
.background-047 { background: #00ff5f; }
.background-048 { background: #00ff87; }
.background-049 { background: #00ffaf; }
.background-050 { background: #00ffd7; }
.background-051 { background: #00ffff; }
.background-052 { background: #5f0000; }
.background-053 { background: #5f005f; }
.background-054 { background: #5f0087; }
.background-055 { background: #5f00af; }
.background-056 { background: #5f00d7; }
.background-057 { background: #5f00ff; }
.background-058 { background: #5f5f00; }
.background-059 { background: #5f5f5f; }
.background-060 { background: #5f5f87; }
.background-061 { background: #5f5faf; }
.background-062 { background: #5f5fd7; }
.background-063 { background: #5f5fff; }
.background-064 { background: #5f8700; }
.background-065 { background: #5f875f; }
.background-066 { background: #5f8787; }
.background-067 { background: #5f87af; }
.background-068 { background: #5f87d7; }
.background-069 { background: #5f87ff; }
.background-070 { background: #5faf00; }
.background-071 { background: #5faf5f; }
.background-072 { background: #5faf87; }
.background-073 { background: #5fafaf; }
.background-074 { background: #5fafd7; }
.background-075 { background: #5fafff; }
.background-076 { background: #5fd700; }
.background-077 { background: #5fd75f; }
.background-078 { background: #5fd787; }
.background-079 { background: #5fd7af; }
.background-080 { background: #5fd7d7; }
.background-081 { background: #5fd7ff; }
.background-082 { background: #5fff00; }
.background-083 { background: #5fff5f; }
.background-084 { background: #5fff87; }
.background-085 { background: #5fffaf; }
.background-086 { background: #5fffd7; }
.background-087 { background: #5fffff; }
.background-088 { background: #870000; }
.background-089 { background: #87005f; }
.background-090 { background: #870087; }
.background-091 { background: #8700af; }
.background-092 { background: #8700d7; }
.background-093 { background: #8700ff; }
.background-094 { background: #875f00; }
.background-095 { background: #875f5f; }
.background-096 { background: #875f87; }
.background-097 { background: #875faf; }
.background-098 { background: #875fd7; }
.background-099 { background: #875fff; }
.background-100 { background: #878700; }
.background-101 { background: #87875f; }
.background-102 { background: #878787; }
.background-103 { background: #8787af; }
.background-104 { background: #8787d7; }
.background-105 { background: #8787ff; }
.background-106 { background: #87af00; }
.background-107 { background: #87af5f; }
.background-108 { background: #87af87; }
.background-109 { background: #87afaf; }
.background-110 { background: #87afd7; }
.background-111 { background: #87afff; }
.background-112 { background: #87d700; }
.background-113 { background: #87d75f; }
.background-114 { background: #87d787; }
.background-115 { background: #87d7af; }
.background-116 { background: #87d7d7; }
.background-117 { background: #87d7ff; }
.background-118 { background: #87ff00; }
.background-119 { background: #87ff5f; }
.background-120 { background: #87ff87; }
.background-121 { background: #87ffaf; }
.background-122 { background: #87ffd7; }
.background-123 { background: #87ffff; }
.background-124 { background: #af0000; }
.background-125 { background: #af005f; }
.background-126 { background: #af0087; }
.background-127 { background: #af00af; }
.background-128 { background: #af00d7; }
.background-129 { background: #af00ff; }
.background-130 { background: #af5f00; }
.background-131 { background: #af5f5f; }
.background-132 { background: #af5f87; }
.background-133 { background: #af5faf; }
.background-134 { background: #af5fd7; }
.background-135 { background: #af5fff; }
.background-136 { background: #af8700; }
.background-137 { background: #af875f; }
.background-138 { background: #af8787; }
.background-139 { background: #af87af; }
.background-140 { background: #af87d7; }
.background-141 { background: #af87ff; }
.background-142 { background: #afaf00; }
.background-143 { background: #afaf5f; }
.background-144 { background: #afaf87; }
.background-145 { background: #afafaf; }
.background-146 { background: #afafd7; }
.background-147 { background: #afafff; }
.background-148 { background: #afd700; }
.background-149 { background: #afd75f; }
.background-150 { background: #afd787; }
.background-151 { background: #afd7af; }
.background-152 { background: #afd7d7; }
.background-153 { background: #afd7ff; }
.background-154 { background: #afff00; }
.background-155 { background: #afff5f; }
.background-156 { background: #afff87; }
.background-157 { background: #afffaf; }
.background-158 { background: #afffd7; }
.background-159 { background: #afffff; }
.background-160 { background: #d70000; }
.background-161 { background: #d7005f; }
.background-162 { background: #d70087; }
.background-163 { background: #d700af; }
.background-164 { background: #d700d7; }
.background-165 { background: #d700ff; }
.background-166 { background: #d75f00; }
.background-167 { background: #d75f5f; }
.background-168 { background: #d75f87; }
.background-169 { background: #d75faf; }
.background-170 { background: #d75fd7; }
.background-171 { background: #d75fff; }
.background-172 { background: #d78700; }
.background-173 { background: #d7875f; }
.background-174 { background: #d78787; }
.background-175 { background: #d787af; }
.background-176 { background: #d787d7; }
.background-177 { background: #d787ff; }
.background-178 { background: #dfaf00; }
.background-179 { background: #dfaf5f; }
.background-180 { background: #dfaf87; }
.background-181 { background: #dfafaf; }
.background-182 { background: #dfafdf; }
.background-183 { background: #dfafff; }
.background-184 { background: #dfdf00; }
.background-185 { background: #dfdf5f; }
.background-186 { background: #dfdf87; }
.background-187 { background: #dfdfaf; }
.background-188 { background: #dfdfdf; }
.background-189 { background: #dfdfff; }
.background-190 { background: #dfff00; }
.background-191 { background: #dfff5f; }
.background-192 { background: #dfff87; }
.background-193 { background: #dfffaf; }
.background-194 { background: #dfffdf; }
.background-195 { background: #dfffff; }
.background-196 { background: #ff0000; }
.background-197 { background: #ff005f; }
.background-198 { background: #ff0087; }
.background-199 { background: #ff00af; }
.background-200 { background: #ff00df; }
.background-201 { background: #ff00ff; }
.background-202 { background: #ff5f00; }
.background-203 { background: #ff5f5f; }
.background-204 { background: #ff5f87; }
.background-205 { background: #ff5faf; }
.background-206 { background: #ff5fdf; }
.background-207 { background: #ff5fff; }
.background-208 { background: #ff8700; }
.background-209 { background: #ff875f; }
.background-210 { background: #ff8787; }
.background-211 { background: #ff87af; }
.background-212 { background: #ff87df; }
.background-213 { background: #ff87ff; }
.background-214 { background: #ffaf00; }
.background-215 { background: #ffaf5f; }
.background-216 { background: #ffaf87; }
.background-217 { background: #ffafaf; }
.background-218 { background: #ffafdf; }
.background-219 { background: #ffafff; }
.background-220 { background: #ffdf00; }
.background-221 { background: #ffdf5f; }
.background-222 { background: #ffdf87; }
.background-223 { background: #ffdfaf; }
.background-224 { background: #ffdfdf; }
.background-225 { background: #ffdfff; }
.background-226 { background: #ffff00; }
.background-227 { background: #ffff5f; }
.background-228 { background: #ffff87; }
.background-229 { background: #ffffaf; }
.background-230 { background: #ffffdf; }
.background-231 { background: #ffffff; }
.background-232 { background: #080808; }
.background-233 { background: #121212; }
.background-234 { background: #1c1c1c; }
.background-235 { background: #262626; }
.background-236 { background: #303030; }
.background-237 { background: #3a3a3a; }
.background-238 { background: #444444; }
.background-239 { background: #4e4e4e; }
.background-240 { background: #585858; }
.background-241 { background: #626262; }
.background-242 { background: #6c6c6c; }
.background-243 { background: #767676; }
.background-244 { background: #808080; }
.background-245 { background: #8a8a8a; }
.background-246 { background: #949494; }
.background-247 { background: #9e9e9e; }
.background-248 { background: #a8a8a8; }
.background-249 { background: #b2b2b2; }
.background-250 { background: #bcbcbc; }
.background-251 { background: #c6c6c6; }
.background-252 { background: #d0d0d0; }
.background-253 { background: #dadada; }
.background-254 { background: #e4e4e4; }
.background-255 { background: #eeeeee; }
